//****************
//Navigation:
//hamburger-menu
.btn-mobile-nav{
    border: none;
    background: $color-purple;
    cursor: pointer;
    border-radius: 50%;
    height: 6.5rem;
    width: 6.5rem;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%,50%);
    display: none;
}

.sticky .header{
    position: fixed;
    height: 8rem;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    z-index: 99999;
    background-color: rgba($color-purple,0.97);
}

.sticky .section__hero{
    padding-top:12.8rem ;
}

.icon-mobile-nav{
    color: #fff;
    height: 4.8rem;
    width: 4.8rem;
}
.icon-mobile-nav[name="close-outline"]{
    display: none;
}

//nav-bar
.nav__list{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-around;
    
    padding: 2rem 0;

    &__link:link,
    &__link:visited{
        color: #fff;
        text-decoration: none;
        font-size: 2.5rem;
        font-weight: 600;
    }
}


//icons
.icon {
    height: 4.8rem;
    width: 4.8rem;
}

.icon-box{
    text-align: center;

    p{
        padding-top: 1.2rem;
        color: #666;
        font-size: 1.8rem;
        font-weight: 500;
    }
}

