
//****************
//Navigation:
.nav__container{
    background-color: $color-purple;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    height: 8rem;
}


//****************
//header:
.section__hero{
    z-index: 99;
    position: relative;
    background-color: $color-blue;
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
    padding: 4.8rem;
}

.hero{
    max-width: 130rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4.8rem;

    &__text-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;    
    }

    &__img-box{
        flex: 0 0 50%;
        padding: 3.2rem 0 9.6rem 0;     
    }

    &__img{
        width: 100%;
    }
}

//Section about:
.section-about{
    position: relative;
    clip-path: polygon(100% 0, 100% 78%, 62% 100%, 0 83%, 0 0);
    background-color: $color-pink;
    margin-top: -13rem;
    z-index: 88;
    
    &__container{
        max-width: 120rem;
        margin: 0 auto;
        padding: 0 3.2rem;
        padding-top: 23rem;
        padding-bottom: 13rem;
        display: flex;
        gap: 4.8rem;
        justify-content: center;
        align-items: center;
    }

    &__left{
        flex: 0 0 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 35rem;
    }

    &__img-box{
        
    }
    &__avartar{
        border-radius: 50%;
        height: 30rem;
        width: 30rem;
        display: block;
    }

    &__right{
        padding: 3.2rem;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
       
    }
    &__paragraph{
        color: #555;
        font-size: 2rem;
        line-height: 1.8;
        //font-weight: 500;
    }

    &__paragraph:not(:last-child){
        margin-bottom: 3.2rem;
    }
}

.section-skills{
    margin-top: -21rem;
    background-color: $color-yellow;
    
    &__wrapper{
        padding-top: 26rem;
        padding-bottom: 12.8rem;
    }


    &__icon-container{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        row-gap: 3.2rem;
        margin: 4.8rem 0;
    }
}

//**********************
// section projects:
//**********************
.section-projects{
    background-color: #c4b6e5;
    margin-top: -1rem;
    padding: 12.6rem 0;
}
.projects__wrapper{
    
}
.projects__text{

}
.project__photo-box{

}

.projects__container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3.2rem;
}

.project__img{
    width: 100%;
    border-radius: 9px;
}

.project__text-box{
    align-self: center;
}

.project__name{
color: #333;
font-weight: 600;
font-size: 2.4rem;
margin-bottom: 2.4rem;
}

.project__detail{
color: #555;
font-weight: 700;
font-size: 1.8rem;
line-height: 1.8;
padding-bottom: 4.8rem;
}



.section-contact{}