
//****************
//Navigation:
.nav__container{
    background-color: $color-purple;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    height: 8rem;
}


//****************
//header:
.section__hero{
    z-index: 9999;
    position: relative;
    background-color: $color-blue;
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
    padding: 4.8rem;
}

.hero{
    max-width: 130rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4.8rem;

    &__text-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        
    }

    &__img-box{
        flex: 0 0 50%;
        padding: 3.2rem 0 9.6rem 0;
        
    }
    &__img{
        width: 100%;
    }
}

//Section about:
.section-about{
    position: relative;
    clip-path: polygon(100% 0, 100% 78%, 62% 100%, 0 83%, 0 0);
    background-color: $color-pink;
    margin-top: -13rem;
    z-index: 5;
    display: flex;
    height: 100vh;

   

    &__left{
        flex: 0 0 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__img-box{}
    &__avartar{
        border-radius: 50%;
    }
    &__right{
        flex: 0 0 1;
        align-self: center;
        justify-content: center;
    }
    &__paragraph{
        width: 80%;
        color: $font-color-primary;
        font-size: 1.8rem;
        line-height: 1.8;
        font-weight: 500;
        
    }
}

.section-skills{
    
    
}

.section-projects{}

.section-contact{}