/*
#A8D8EA
#AA96DA
#FCBAD3
#FCBAFF
#FFFFD2
*/
/* --- 01 TYPOGRAPHY SYSTEM

 - Font sizes (px)
 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74  / 86 / 98

 - Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


 */
.u-center-class {
  text-align: center !important;
}

.margin-bottom-tiny {
  margin-bottom: 1rem !important;
}

.margin-bottom-small {
  margin-bottom: 1.6rem !important;
}

.margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.margin-bottom-big {
  margin-bottom: 8rem !important;
}

.margin-top-big {
  margin-top: 15rem !important;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #777;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  border-radius: 9px;
  border: 1px solid #555;
  color: #333;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn:hover,
.btn:active {
  -webkit-box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
          box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  color: #444;
}

strong {
  font-weight: 800;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.6;
  letter-spacing: -.5px;
  color: #fff;
  font-weight: 700;
}

.heading-secondary {
  color: #333;
  font-size: 4.4rem;
  line-height: 1.2;
}

.sub-heading {
  color: #444;
  font-size: 2.4rem;
  font-weight: 500;
}

.sub-heading-small {
  color: #555;
  font-size: 2.2rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.btn-mobile-nav {
  border: none;
  background: #AA96DA;
  cursor: pointer;
  border-radius: 50%;
  height: 6.5rem;
  width: 6.5rem;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  display: none;
}

.sticky .header {
  position: fixed;
  height: 8rem;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 99999;
  background-color: rgba(170, 150, 218, 0.97);
}

.sticky .section__hero {
  padding-top: 12.8rem;
}

.icon-mobile-nav {
  color: #fff;
  height: 4.8rem;
  width: 4.8rem;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2rem 0;
}

.nav__list__link:link, .nav__list__link:visited {
  color: #fff;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 600;
}

.icon {
  height: 4.8rem;
  width: 4.8rem;
}

.icon-box {
  text-align: center;
}

.icon-box p {
  padding-top: 1.2rem;
  color: #666;
  font-size: 1.8rem;
  font-weight: 500;
}

.header {
  position: relative;
  background-color: #AA96DA;
  top: 0;
  bottom: 0;
  z-index: 999;
  height: 8rem;
  width: 100%;
}

.section__hero {
  z-index: 99;
  position: relative;
  background-color: #A8D8EA;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
  padding: 9.6rem 4.8rem 4.8rem 4.8rem;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4.8rem;
}

.hero__text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.hero__img-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 3.2rem 0 9.6rem 0;
}

.hero__img {
  width: 100%;
}

.section-about {
  position: relative;
  -webkit-clip-path: polygon(100% 0, 100% 78%, 62% 100%, 0 83%, 0 0);
          clip-path: polygon(100% 0, 100% 78%, 62% 100%, 0 83%, 0 0);
  background-color: #FCBAD3;
  margin-top: -13rem;
  z-index: 88;
}

.section-about__container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  padding-top: 23rem;
  padding-bottom: 13rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4.8rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-about__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 35rem;
}

.section-about__avartar {
  border-radius: 50%;
  height: 30rem;
  width: 30rem;
  display: block;
}

.section-about__right {
  padding: 3.2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-about__paragraph {
  color: #555;
  font-size: 2rem;
  line-height: 1.8;
}

.section-about__paragraph:not(:last-child) {
  margin-bottom: 3.2rem;
}

.section-skills {
  margin-top: -21rem;
  background-color: #FFFFD2;
}

.section-skills__wrapper {
  padding-top: 26rem;
  padding-bottom: 12.8rem;
}

.section-skills__icon-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  row-gap: 3.2rem;
  margin: 4.8rem 0;
}

.section-projects {
  background-color: #c4b6e5;
  margin-top: -1rem;
  padding: 12.6rem 0;
}

.projects__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 3.2rem;
}

.project__img {
  width: 100%;
  border-radius: 9px;
}

.project__text-box {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.project__name {
  color: #333;
  font-weight: 600;
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
}

.project__detail {
  color: #555;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.8;
  padding-bottom: 4.8rem;
}

.section-contact {
  background-color: #fffff2;
  padding: 12.6rem 0;
}

.contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
  border-radius: 11px;
  -webkit-box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  overflow: hidden;
  background-color: #ffffd7;
  margin: 4.8rem;
}

.contact-text-box {
  padding: 3.2rem;
}

.contact-text {
  color: #555;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.4;
}

.contact-form {
  margin-top: 4.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2rem;
}

.contact-form label {
  display: block;
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  padding-left: 1.2rem;
  color: #444;
}

.contact-form input {
  border: none;
  font-family: inherit;
  padding: 1.2rem;
  border-radius: 9px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 1.8rem;
  background-color: #fff;
  width: 100%;
  position: relative;
}

.contact-form input::-webkit-input-placeholder {
  top: 1.2rem;
  left: 1.2rem;
  position: absolute;
  color: #555;
}

.contact-form input:-ms-input-placeholder {
  top: 1.2rem;
  left: 1.2rem;
  position: absolute;
  color: #555;
}

.contact-form input::-ms-input-placeholder {
  top: 1.2rem;
  left: 1.2rem;
  position: absolute;
  color: #555;
}

.contact-form input::placeholder {
  top: 1.2rem;
  left: 1.2rem;
  position: absolute;
  color: #555;
}

.contact-form .message {
  height: 15rem;
}

.contact-button {
  background: none;
  margin-top: 2.4rem;
}

.contact-img-box {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 224, 0.3)), to(rgba(255, 255, 210, 0.338))), url(../img/outdoor.avif);
  background-image: linear-gradient(to right bottom, rgba(255, 255, 224, 0.3), rgba(255, 255, 210, 0.338)), url(../img/outdoor.avif);
  background-size: cover;
  background-position: center;
}

footer {
  background-color: #FCBAD3;
}

footer p {
  font-size: 1.4rem;
  text-align: center;
  padding: 4.8rem;
  color: #555;
  letter-spacing: 1.2px;
}

/* rem and em don't work on html font-size in media queries! 
Instead 1rem =1em =16px */
/* ******************************** */
/* Below 1344px (small desktops) */
/* ******************************** */
/* ******************************** */
/* Below 1200px (landscape tablets) */
/* ******************************** */
/* ******************************** */
/* Below 944px (tablets) */
/* ******************************** */
@media (max-width: 59em) {
  /* mobile nav */
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }
  .header {
    height: 0;
  }
  .sticky .header {
    background-color: transparent;
  }
  .nav__container {
    position: absolute;
    background-color: rgba(170, 150, 218, 0.97);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    /* hide a property correctly */
    /* step1 */
    opacity: 0;
    /* step2 */
    pointer-events: none;
    /* step3 */
    visibility: hidden;
  }
  .nav-open .nav__container {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4.8rem;
    color: #fff;
  }
  .nav__list__link:link,
  .nav__list__link:visited {
    font-size: 3rem;
    color: #fff;
  }
}
/*# sourceMappingURL=main.css.map */